body {
    margin: 0;
}

.all_players {
    padding: 50px;
    display: flex;
    justify-content: space-around;
}
.player-area{
    border: 2px solid gray;
    border-radius: 5px;
    text-align: center;
    padding: 15px 50px;
}

#player_1, #player_2, #player_3 {
    padding: 10px;
    border-radius: 5 px;
}

.active {
    background-color: lightblue;
    color: black;
}
#p1-roll-img, #p2-roll-img, #p3-roll-img {
    width: 250px;
}

#winner {
    border: 50px;
    text-align: center;
    padding: 15px 50px;
}
